{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}- {% trans "Login" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <h2 class="text-center fw-bold mb-4">{% trans "Sign In" %}</h2>

                <p class="text-center">
                    {% blocktrans %}
                        If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.
                    {% endblocktrans %}
                </p>

                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary text-white w-100">{% trans "Login" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
