{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% load crispy_forms_tags %}

{% block extra_title %}- {% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <h2 class="text-center fw-bold mb-4">{% trans "Change Password" %}</h2>

                <form method="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="next" value="{% url 'account_login' %}">
                    {{ redirect_field }}

                    <button type="submit" class="btn btn-primary w-100 mb-2">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

