{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block extra_title %}- {% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="text-center mb-4">
                    <i class="bi bi-check-circle-fill primary-fg" style="font-size: 5rem;"></i>
                </div>
                <h2 class="text-center fw-bold mb-4">{% trans "Change Password" %}</h2>
                <p class="text-center">
                    {% blocktrans %}
                        Your password is now changed successfully. Click here to
                        <a href="{{ login_url }}">Sign In</a>
                        !
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

