{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}- {% trans "Signup" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <h2 class="text-center fw-bold mb-4">{% trans "Sign Up" %}</h2>

                <p class="text-center">
                    {% blocktrans %}
                        Welcome to RaspiMobile!
                        Do you already have an account? Then please
                        <a href="{{ login_url }}">sign in</a>
                        instead.
                    {% endblocktrans %}
                </p>

                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button type="submit" class="btn btn-primary fw-bold w-100">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
