{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}- {% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card shadow rounded rounded-4">
                    <div class="card-header bg-transparent text-center">
                        <img src="{% static 'images/logo.webp' %}" alt="RaspiMobile Logo" class="img-fluid" style="max-height: 150px;">
                    </div>
                    <div class="card-body p-5 email-confirmation">
                        <h2 class="text-center mb-4">{% trans "Confirm Your Email Address" %}</h2>
                        <p class="text-center">{% trans 'Please check your email inbox for a verification link to confirm your account.' %}</p>
                        <p class="text-center">
                            {% trans "If you don't see the email within a few minutes, please check your spam or junk mail folder." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
