{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="mt-5 h-100">
        <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
                <h1>Welcome to RaspiMobile!</h1>
        <p>Your go-to place for Raspberry Pi mobile solutions.</p>
    </div>
{% endblock %}