{% load static %}
{% load i18n %}

<div id="sidebar" class="carousel slide mx-2 mx-md-0" data-bs-touch="false">
    <div class="carousel-inner h-100 pb-2">
        <div class="carousel-item h-100 px-3 pe-md-0">
            {% include 'profiles/partials/profile_sidebar.html' %}
        </div>

        <div class="carousel-item h-100 px-3 pe-md-0">
            <div class="d-flex flex-column h-100">
                <h2 class="text-white mt-2 pb-2 border-bottom">{% trans "Shop Assistant" %}</h2>
                <div id="chatContainer" class="d-flex flex-column align-items-end h-100 pe-3 overflow-y-auto">
                    <div class="mt-auto">
                         <p>message1</p>
                         <p>message2</p>
                         <p>message3</p>
                         <p>message4</p>
                         <p>message5</p>
                         <p>message6</p>
                         <p>message7</p>
                         <p>message8</p>
                         <p>message9</p>
                    </div>
                </div>
                <form class="d-flex mt-2" role="search">
                    <input class="form-control rounded" type="search" placeholder="{% trans 'Chat with Assistant' %}" aria-label="{% trans 'Chat' %}">
                     <button class="btn btn-primary ms-2" type="submit">{% trans "Send" %}</button>
                </form>
            </div>
        </div>

        <div class="carousel-item h-100 px-3 pe-md-0">
            {% include 'cart/partials/cart_sidebar.html' %}
        </div>
    </div>
</div>