{% load static %}
{% load i18n %}

<div id="sidebar" class="carousel slide mx-2 mx-md-0" data-bs-touch="false">
    <div class="carousel-inner h-100 pb-2">
        <div class="carousel-item h-100 px-3 pe-md-0">
            {% include 'profiles/partials/profile_sidebar.html' %}
        </div>

        <div class="carousel-item h-100 px-3 pe-md-0 d-none">
            <!-- placeholder for chatbot chat history -->
        </div>

        <div class="carousel-item h-100 px-3 pe-md-0">
            {% include 'cart/partials/cart_sidebar.html' %}
        </div>
    </div>
</div>