{% load static %}
{% load i18n %}

<div id="mc_embed_signup">
    <form action="https://herokuapp.us7.list-manage.com/subscribe/post?u=0ca5cb878a981b22c70ffea41&id=dfc67396db&f_id=00fdf7e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
        <div id="mc_embed_signup_scroll">
            <h2 class="text-center fw-bold mb-4">{% trans "Stay Updated!" %}</h2>
             <p class="text-center lead mb-3">{% trans "Subscribe to our newsletter for the latest news and offers." %}</p>
            <div class="mc-field-group input-group mb-3 w-75 mx-auto">
                <label for="mce-EMAIL" class="visually-hidden">{% trans "Email Address" %} <span class="asterisk">*</span></label>
                <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required placeholder="{% trans 'Enter your email' %}" value="">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary rounded fw-bold text-white px-5 mx-auto">
                    <i class="fa-solid fa-bell me-2"></i>
                    {% trans "Subscribe" %}
                </button>
            </div>
            <div id="mce-responses" class="clear foot text-center">
                <div class="response alert alert-danger mt-2" id="mce-error-response" style="display: none;"></div>
                <div class="response alert alert-success mt-2" id="mce-success-response" style="display: none;"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_0ca5cb878a981b22c70ffea41_dfc67396db" tabindex="-1" value="">
            </div>
        </div>
    </form>
</div>

