 :root {
    --primary-background: #45c95d;
    --secondary-background: #3F9950;
    --tertiary-background: #2b3645;
    --primary-text: #303030;
    --secondary-text: #d4d4d4;
    --accent: #ff8800;
    --shadow: #00000080;
    --shadow-light: #00000071;
    --box-shadow-small: 0 2px 2px var(--shadow);
    --box-shadow-normal: 0 2px 4px var(--shadow);
    --box-shadow-large: 0 4px 8px var(--shadow-light);
    --footer-height: 60px;
    --sidebar-width: 300px;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    /* padding: 0 12px; */
    background-color: var(--primary-background);
    height: 100vh;
}


main {
    width: 200vw;
    transition: transform 0.3s ease;
}


#pageContainer {
    /* position: relative;
    right: 0px; */
    box-shadow: var(--box-shadow-large);
    scrollbar-color: var(--primary-background) transparent;
    border: 3px solid transparent;
    /* transition: right 0.3s ease; */
    z-index: 99;
    width: 100vw;
}

#sidebar {
    /* position: relative; */
    /* right: 0; */
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    width: 100vw;

    & .carousel-item {
        transition: transform 0.3s ease !important;
    }
}

.sidebar-open {
    width: var(--sidebar-width) !important;
}

.slide-left {
    transform: translateX(-100vw);
}

.sidebar-width{
    width: var(--sidebar-width);
}

a {
    color: var(--primary-background);
    font-weight: 600;
}

a > i {
    color: #303030;
}

.nav-item {
    flex-direction: unset;
    border-radius: 5px;
    background-color: white;

    & .nav-link.active {
        border-radius: 5px;
        color: var(--secondary-background);
        font-weight: 600;
        box-shadow: var(--box-shadow-normal);
    }
}

.navbar-toggler {
    box-shadow: none;
    border: none;
    color: white;
    font-size: 2.2rem;

    &:focus {
        box-shadow: none;
        border: none;
    }
}

.navbar-toggler-icon-rotate {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-rotate {
    transform: rotate(180deg);
}


#id_password1_helptext {
    display: none;
}


.btn.btn-primary {
    background-color: var(--primary-background);
    color: var(--primary-text);
    border-color: var(--primary-background);
    box-shadow: var(--box-shadow-small);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: var(--primary-background);
        border: 1px solid var(--primary-background);
        color: var(--primary-text);
    }
}

.btn.btn-secondary {
    box-shadow: var(--box-shadow-small);
    background-color: #b4bbc2;
    border-color: #b4bbc2;
    color: var(--primary-text);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: #b4bbc2;
        border-color: #91989e;
        color: var(--primary-text);
    }
}

.form-control,
.form-select {
    line-height: 1.8;
    /* background-color: transparent; */
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--primary-background);
    transition-property: transform, background-color, border, box-shadow, border-radius;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:focus {
        outline: none;
        background-color: #fff;
        border: 1px solid var(--primary-background);
        border-radius: 6px;
        box-shadow: var(--box-shadow-normal);
        transform: scale(1.01);
    }
}


.form-check-input {
    border-color: var(--primary-background);

    &:checked {
        border-color: var(--secondary-background);
        background-color: var(--primary-background);
    }

    &:focus {
        border-color: var(--secondary-background);
        box-shadow: none;
    }
}

.primary-bg {
    background-color: var(--primary-background);
}

.primary-fg {
    color: var(--primary-background);
}

.shadow-normal {
    box-shadow: var(--box-shadow-normal);
}

.icon-button {
    font-size: 1.5rem;
    padding: 1px 8px;
    transition: 0.2s ease-in;
    border: none;

    &:hover,
    &.active {
        box-shadow: var(--box-shadow-small);
        transform: scale(1.1);
        background-color: white;

        & > i {
            color: var(--primary-background);
        }
    }

    & > i {
        color: white;
        transition: 0.2s ease-in;
        line-height: normal;
    }
}


@media screen and (min-width: 768px) {
    .nav-item {
        border-radius: unset;
        background-color: unset;
    
        & .nav-link.active {
            border-radius: unset;
            color: unset;
            font-weight: 600;
            box-shadow: unset;
        }
    }

    main {
        width: unset;
    }

    #pageContainer {
        width: unset;
    }

    #sidebar {
        width: 0;
        transition: width 0.3s ease;

        & .carousel-inner {
            position: absolute;
            right: 0;
            width: var(--sidebar-width);
            transition: width 0.3s ease;
        }
    }
}
