* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #198754;
    --secondary-background: #3F9950;
    --tertiary-background: #c5e1d4;
    --primary-text: #303030;
    --secondary-text: #d4d4d4;
    --accent: #04c96e;
    --shadow: #00000080;
    --shadow-light: #00000060;
    --danger-color: #c42424;
    --box-shadow-small: 0 2px 2px var(--shadow-light);
    --box-shadow-normal: 0 2px 4px var(--shadow);
    --box-shadow-large: 0 4px 8px var(--shadow-light);
    --footer-height: 60px;
    --sidebar-width: 300px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: var(--primary-background);
    height: 100vh;
}


#logo-text {
    font-size: 1.3rem;
}

.fs-7 {
    font-size: 0.85rem !important;
}

#slideContainer {
    width: 200vw;
    transition: transform 0.3s ease;
}


#pageContainer {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-large);
    scrollbar-color: var(--primary-background) transparent;
    border: 3px solid transparent;
    /* z-index: 99; */
    width: 100vw;
}

#sidebar {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    width: 100vw;

    & .carousel-item {
        transition: transform 0.3s ease !important;
    }
}



.hero-section {
    position: relative;
}

.hero-section picture {
    display: block;
    position: relative;
    height: 75vw;
    overflow: hidden;
    border-radius: 6px;
}

.hero-section picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
}

.hero-content {
    position: relative;
    padding: 2rem 1rem;
    text-align: center; 
}


#chatContainer,
#cartSidebarContainer,
#profileSidebarContainer {
    scrollbar-color: transparent transparent;
}


.sidebar-open {
    width: var(--sidebar-width) !important;
}

.slide-left {
    transform: translateX(-100vw);
}

.sidebar-push {
    margin-right: var(--sidebar-width) !important;
}

.sidebar-width{
    width: var(--sidebar-width);
}

a {
    color: var(--primary-background);
    font-weight: 600;
}

a > i {
    color: #303030;
}

.nav-item {
    flex-direction: unset;
    border-radius: 5px;
    background-color: white;

    .nav-link {
        font-weight: 700;
    }

    & .nav-link.active {
        border-radius: 5px;
        color: var(--primary-background);
        box-shadow: var(--box-shadow-normal);
    }
}

.navbar-toggler {
    box-shadow: none;
    border: none;
    color: white;
    font-size: 2.2rem;

    &:focus {
        box-shadow: none;
        border: none;
    }
}

.navbar-toggler-icon-rotate {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-rotate {
    transform: rotate(180deg);
}


#id_password1_helptext {
    display: none;
}


.btn.btn-primary {
    background-color: var(--primary-background);
    color: var(--primary-text);
    border-color: var(--primary-background);
    box-shadow: var(--box-shadow-small);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: var(--primary-background);
        border: 1px solid var(--primary-background);
        color: var(--primary-text);
    }
}

.btn.btn-secondary {
    box-shadow: var(--box-shadow-small);
    background-color: #f0f0f0;
    border-color: #e1e1e1;
    color: var(--primary-text);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: #e2e7ec;
        border-color: #c7cdd3;
        color: var(--primary-text);
    }
}

.btn.btn-danger {
    box-shadow: var(--box-shadow-small);
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: white;
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: var(--danger-color);
        border-color: var(--danger-color);
        color: white;
    }
}



.form-control,
.form-select {
    line-height: 1.8;
    border-radius: 0;
    border: 1px solid transparent !important;
    border-bottom: 1px solid var(--accent) !important;
    transition-property: transform, background-color, border, box-shadow, border-radius;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:focus {
        outline: none;
        background-color: #fff;
        border: 1px solid var(--accent) !important;
        border-radius: 6px !important;
        box-shadow: var(--box-shadow-normal);
    }

    &.is-invalid {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--danger-color) !important;

        &:focus {
            outline: none;
            background-color: #fff;
            border: 1px solid var(--danger-color) !important;
            border-radius: 6px;
            box-shadow: var(--box-shadow-normal);
        }
    }
}


.form-check-input {
    border-color: var(--accent);

    &:checked {
        border-color: var(--secondary-background);
        background-color: var(--accent);
    }

    &:focus {
        border-color: var(--secondary-background);
        box-shadow: none;
    }
}

.primary-bg {
    background-color: var(--primary-background);
}

.primary-fg {
    color: var(--primary-background);
}

.tertiary-bg {
    background-color: var(--tertiary-background);
}



.shadow-normal {
    box-shadow: var(--box-shadow-normal);
}

.icon-button {
    font-size: 1.5rem;
    padding: 1px 8px;
    transition: 0.2s ease-in;
    border: none;

    &:hover,
    &.active {
        box-shadow: var(--box-shadow-small);
        /* transform: scale(1.1); */
        background-color: white;

        & > i {
            color: var(--primary-background);
        }
    }

    & > i {
        color: white;
        transition: 0.2s ease-in;
        line-height: normal;
    }
}

.elevate-on-hover {
    transition: 0.3s ease;
    border: none;

    &:hover {
        filter: drop-shadow(var(--box-shadow-normal));
        /* transform: scale(1.01); */
    }

    & img {
        transition: 0.6s ease;
    }

    & img:hover {
        filter: contrast(120%) saturate(160%);
    }
}

.elevate {
    filter: drop-shadow(var(--box-shadow-small));
}

.pagination .step-links {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px;

    & a, span {
        display: inline-block;
        padding: 8px 12px;
        margin: 0;
        text-decoration: none;
        color: var(--primary-background);
        border-radius: 4px;
        transition: 0.3s ease;
        min-width: 30px;
        text-align: center;
        font-weight: 900;
    }
}

.pagination .step-links .arrow-button {
    font-weight: bold;
}

.pagination .step-links a:hover {
    border-width: 3px;
    background-color: var(--tertiary-background);
    border-color: var(--tertiary-background);
    box-shadow: var(--box-shadow-normal);
}

.pagination .step-links .current-page-button {
    background-color: var(--primary-background);
    color: white;
    cursor: default;
    box-shadow: var(--box-shadow-normal);
}

.pagination .arrow-button.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}


.featured-products-container {
    display: flex;
    gap: 16px;

    & .card {
        flex-shrink: 0;
        max-width: 160px;
    }

    & .card-footer {
        display: none;
    }
}


.hide-card-footer {
    & .card-footer {
        display: none;
    }
}


.primary-dropdown {
    border: none;
    transition: 0.3s ease;

    &:hover {
        background-color: var(--primary-background);
        box-shadow: var(--box-shadow-small);
        color: white;
    }

    &:focus {
        background-color: var(--secondary-background);
        box-shadow: var(--box-shadow-small);
        color: white;
    }
}


.dropdown-item {
    color: var(--primary-text);
    transition: 0.3s ease;
    margin-bottom: 3px;

    & i {
        transition: 0.3s ease;
    }

    &:hover {
        border-radius: 6px;
        background-color: var(--secondary-background);
        color: white;

        & i {
            color: white;
        }
    }

    &.active {
        background-color: var(--primary-background);
        border-radius: 4px;
    }
}

.cart-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#messages {
    position: absolute;
    width: inherit;
    z-index: 100;
    padding: 8px 26px;
    right: 0;
    filter: drop-shadow(var(--box-shadow-small));
    transition: 0.3s ease;
}

.out-of-stock-img {
    filter: grayscale(90%);
    opacity: 0.7;
}

.card:hover .out-of-stock-img {
    filter: grayscale(0%);
    opacity: 1;
}


#dashboardButtonGroup a {
    background-color: var(--tertiary-background);
    border: none;
    color: black;

    &.active {
        background-color: var(--primary-background) !important;
        color: white;

        & i {
            color: white;
        }
    }
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.form-control.d-flex.h-auto {
    border: none;
}


.chart-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.chart-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rating-star-visual {
    font-size: 1.75rem;
    color: #b0b0b0;
    cursor: pointer;
    padding: 0 0.15rem;
    transition: color 0.2s ease-in-out;
    line-height: 1;

    &:hover {
        color: #ffda6a;
    }

    &.selected {
        color: #ffc107;
    }
}

.rating-radios-actual {
    text-align: center;
    display: none;
}


.four-o-three {
    background: url(../images/four_o_three.webp) no-repeat center center / cover;
}

.four-o-four {
    background: url(../images/four_o_four.webp) no-repeat center center / cover;
}

.four-o-five {
    background: url(../images/four_o_five.webp) no-repeat center center / cover;
}

.five-o-o {
    background: url(../images/five_o_o.webp) no-repeat center center / cover;
}

.blur-bg {
    background-color: #fff8;
    backdrop-filter: blur(20px);
}



@media screen and (min-width: 768px) {
    .nav-item {
        border-radius: unset;
        background-color: unset;

        & .nav-link  {
            color: white;
        }
    
        & .nav-link.active {
            border-radius: unset;
            color: white;
            /* font-weight: 900; */
            box-shadow: unset;
            transform: scale(1.08) translate(0, 1px);
        }
    }



    .hero-section {
        min-height: 50vh;
    }

    .hero-section picture,
    .hero-section picture img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /* max-height: none; */
    }

    .hero-content {
        position: relative;
        z-index: 3;
        margin-left: 16px;
        text-align: left;

    }





    #slideContainer {
        width: 100vw;
    }

    #pageContainer {
        width: min-content;
    }

    #sidebar {
        width: 0;
        transition: width 0.3s ease;

        & .carousel-inner {
            position: absolute;
            right: 0;
            width: var(--sidebar-width);
            transition: width 0.3s ease;
        }
    }

    #messages {
        width: unset;
    }

    .featured-products-container {
        max-width: 400px;
    
        & .card {
            max-width: 160px;
        }
    }
}


@media screen and (min-width: 992px) {
    .featured-products-container .card {
        max-width: 250px;
    }

    .hero-section p {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1200px) {
    .hero-section {
        min-height: 60vh;
        padding: 30px;

        & p {
            font-size: 1.8rem;
        }

        & a {
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 1400px) {
    .hero-section {
        min-height: 70vh;
        padding: 50px;

        & a {
            font-size: 1.4rem;
        }
    }
}