{% load static %}
{% load humanize %}

<div class="d-flex flex-column h-100">
    <h2 class="mt-2 pb-2 border-bottom">Shopping Cart</h2>
    {% if current_cart_items %}
        <div class="flex-grow-1 overflow-auto pe-1">
            <ul class="list-unstyled">
                {% for item in current_cart_items %}
                    <li class="bg-white rounded-3 shadow-normal overflow-hidden mb-2 position-relative">
                        <a href="{% url 'product_detail' pk=item.product.id %}" class="text-decoration-none text-dark d-flex">
                            {% with product=item.product %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid cart-image">
                                <div class="d-flex flex-column justify-content-between w-100 ms-2 my-2 me-3">
                                    <strong>{{ product.name }}</strong>
                                    <div class="d-flex justify-content-between fs-5">
                                        <small class="text-muted">Qty: <strong>{{ item.quantity }}</strong></small>
                                        <span class="fw-bold">€{{ item.total_price|floatformat:2 }}</span>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                        <a href="{% url 'remove_from_cart' item.product.id %}"
                           class="text-danger remove-from-cart-button position-absolute top-0 end-0 p-2"
                           data-product-id="{{ item.product.id }}"
                           title="Remove item">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-auto pt-2 border-top">
            <p class="d-flex justify-content-between">
                <span>Subtotal ({{ current_cart_item_count }} items):</span>
                <span class="fw-bold">€{{ current_cart_total|floatformat:2 }}</span>
            </p>
            <a href="{% url 'create_order' %}" class="btn btn-primary w-100">View Cart & Checkout</a>
        </div>
    {% else %}
        <p class="text-muted mt-3 text-center flex-grow-1 d-flex align-items-center justify-content-center">Your cart is empty.</p>
    {% endif %}
</div>