{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block extra_title %} - Dashboard{% endblock %}


{% block dashboard_content %}
    <h3>Welcome, {{ request.user.username|default:'Admin' }}!</h3>
    <p>This is the main dashboard area. Select a section from the navigation above to manage site content.</p>
    <hr>

    <h4>Quick Stats</h4>
    <div class="row g-3">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Products</h5>
                    <p class="card-text fs-2">123</p>
                    <a href="#" class="btn btn-primary btn-sm">Manage Products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
             <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Pending Orders</h5>
                    <p class="card-text fs-2">15</p>
                    <a href="#" class="btn btn-warning btn-sm">View Orders</a>
                </div>
            </div>
        </div>
         <div class="col-lg-4">
             <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">New Users (Month)</h5>
                    <p class="card-text fs-2">42</p>
                    <a href="#" class="btn btn-info btn-sm text-white">Manage Users</a>
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}