{% extends "base.html" %}
{% load i18n %}

{% block extra_title %}{% trans "403 - Forbidden" %}{% endblock %}


{% block content %}
    <div class="d-flex flex-fill justify-content-center align-items-center four-o-three">
        <div class="container mt-2">
            <div class="row justify-content-center">
                <div class="col-md-6 p-5 text-center rounded elevate blur-bg">
                    <h1 class="display-1 text-danger fw-bold elevate">
                        403
                    </h1>
                    <p class="lead elevate">
                        {% trans "Oops! You don't have permission to access this resource." %}
                    </p>
                    <a href="/" class="btn btn-primary text-white mt-3">
                        {% trans "Go to Homepage" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}