{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'home' as home_url %}
{% url 'products' as products_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    <!-- Meta tags for search engines -->
    {% block extra_meta %}
        <meta name="description" content="RaspiMobile - Custom Raspberry Pi-based tablets and accessories. Shop high-performance modular tablets with AI-powered inventory management.">
        <meta name="keywords" content="Raspberry Pi tablet, RaspiMobile, custom tablets, modular tablets, Raspberry Pi accessories, AI inventory, e-commerce">
    {% endblock %}

    <!-- Bootstrap CSS / FontAwesome Icons / Global CSS -->
    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
              integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    {% endblock %}

    <!-- Google Fonts -->
    {% block extra_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block corejs %}
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Global JS -->
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <!-- Title -->
    <title>RaspiMobile {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <!-- Header -->
    <header class="px-0">
        <nav class="navbar navbar-expand-md primary-bg">
            <div class="container mw-100 px-0">
                <a class="navbar-brand" href="{{ home_url }}">
                    <img src="{% static 'images/logo.webp' %}" alt="Site Logo" height="30" class="d-inline-block align-top">
                    <span id="logo-text" class="ms-2">RaspiMobile</span>
                </a>
                <div class="d-flex d-md-none gap-2 ms-auto">
                    {% if user.is_authenticated %}
                        <a class="icon-button rounded user-button sidebar-control">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    {% else %}
                        <a class="icon-button rounded"
                           aria-current="page"
                           href="{% url 'account_login' %}">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    {% endif %}
                    <a class="icon-button rounded assistant-button sidebar-control">
                        <i class="fa-solid fa-robot"></i>
                    </a>
                    <a class="icon-button rounded cart-button sidebar-control">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-caret-down navbar-toggler-icon-rotate"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{{ home_url }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == products_url %}active{% endif %}" aria-current="page" href="{{ products_url }}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page" href="{{ about_url }}">About</a>
                        </li>
                    </ul>
                    <form class="d-flex flex-fill ps-md-5 my-2 my-md-0" role="search">
                        <input class="form-control rounded lh-base" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="d-none d-md-flex gap-2 justify-content-end sidebar-width">
                        {% if user.is_authenticated %}
                            <a class="icon-button rounded user-button sidebar-control" data-carousel-index="0" data-control-group="user">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        {% else %}
                            <a class="icon-button rounded"
                               aria-current="page"
                               href="{% url 'account_login' %}">
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </a>
                        {% endif %}
                        <a class="icon-button rounded assistant-button sidebar-control">
                            <i class="fa-solid fa-robot"></i>
                        </a>
                        <a class="icon-button rounded cart-button sidebar-control">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="rounded-3 overflow-scroll h-100 bg-white mb-1">
        {% block content %}{% endblock %}
    </main>

    <!-- Sidebar -->
    <aside class="carousel slide px-3" id="sidebar">
        <div class="carousel-inner">
            <div class="carousel-item">
                <h2 class="my-3">User Profile</h2>
                <p>shipping details</p>
                <p>payment details</p>
                <p>order history</p>
            </div>
            <div class="carousel-item">
                <h2 class="my-3">Shop Assistant</h2>
                <p>chat</p>
            </div>
            <div class="carousel-item">
                <h2 class="my-3">Shopping Cart</h2>
                <p>item 1</p>
                <p>item 2</p>
                <p>item</p>
            </div>
        </div>
    </aside>


    <!-- Footer -->
    <footer class="container d-flex justify-content-center align-items-center gap-3 mw-100 my-1">
        <p class="text-center fs-5">© {% now "Y" %} RaspiMobile. All rights reserved.</p>
        <a href="https://www.linkedin.com/in/norbert-tiborcz/" target="_blank" aria-label="LinkedIn Profile">
            <i class="fa-brands fa-linkedin fs-2"></i>
            <span class="visually-hidden">LinkedIn Profile</span>
        </a>
        <a href="https://github.com/tibssy" target="_blank" aria-label="GitHub Repository">
            <i class="fa-brands fa-github fs-2"></i>
            <span class="visually-hidden">GitHub Repository</span>
        </a>
    </footer>

</body>
</html>