 :root {
    --primary-background: #45c95d;
    --secondary-background: #3F9950;
    --tertiary-background: #2b3645;
    --primary-text: #303030;
    --secondary-text: #d4d4d4;
    --accent: #ff8800;
    --shadow: #00000080;
    --shadow-light: #00000071;
    --box-shadow-small: 0 2px 2px var(--shadow);
    --box-shadow-normal: 0 2px 4px var(--shadow);
    --box-shadow-large: 0 4px 8px var(--shadow-light);
    --footer-height: 60px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: var(--primary-background);
    height: 100vh;
}


header {
    margin: 0;
    transition: margin-right 0.3s ease;
}


main {
    /* height: 100vh; */
    /* overflow: scroll; */
    margin: 0 10px;
    /* border-radius: 8px; */
    box-shadow: var(--box-shadow-large);
    scrollbar-color: var(--primary-background) transparent;
    border: 3px solid transparent;
    transition: margin-right 0.3s ease;
}


#sidebar {
    position: fixed;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: -1;
}


.sidebar-open {
    margin-right: 340px;
    transition: margin-right 0.3s ease;
}

a {
    color: var(--primary-background);
    font-weight: 600;
}

a > i {
    color: #303030;
}


#id_password1_helptext {
    display: none;
}


.btn.btn-primary {
    background-color: var(--primary-background);
    color: var(--primary-text);
    border-color: var(--primary-background);
    box-shadow: var(--box-shadow-small);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: var(--primary-background);
        border: 1px solid var(--primary-background);
        color: var(--primary-text);
    }
}

.btn.btn-secondary {
    box-shadow: var(--box-shadow-small);
    background-color: #b4bbc2;
    border-color: #b4bbc2;
    color: var(--primary-text);
    font-weight: 600;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        filter: brightness(80%);
        background-color: #b4bbc2;
        border-color: #91989e;
        color: var(--primary-text);
    }
}

.form-control,
.form-select {
    line-height: 1.8;
    /* background-color: transparent; */
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--primary-background);
    transition-property: transform, background-color, border, box-shadow, border-radius;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:focus {
        outline: none;
        background-color: #fff;
        border: 1px solid var(--primary-background);
        border-radius: 6px;
        box-shadow: var(--box-shadow-normal);
        transform: scale(1.01);
    }
}


.form-check-input {
    border-color: var(--primary-background);

    &:checked {
        border-color: var(--secondary-background);
        background-color: var(--primary-background);
    }

    &:focus {
        border-color: var(--secondary-background);
        box-shadow: none;
    }
}

.primary-bg {
    background-color: var(--primary-background);
}

.primary-fg {
    color: var(--primary-background);
}
