{% load static %}
{% load i18n %}

<div class="card h-100 elevate-on-hover">
    <a href="{% url 'product_detail' pk=product.pk %}">
        {% if "placeholder" in product.image.url %}
            <img src="{% static 'images/default_product.webp' %}" class="card-img-top" alt="{% trans 'Placeholder Image' %}">
        {% else %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">${{ product.price }}</p>
        </div>
    </a>
    <div class="card-footer bg-white border-top-0 px-2 pt-0">
        <form action="{% url 'add_to_cart' product_id=product.pk %}" method="post" class="mb-1">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn btn-primary w-100 btn-sm">
                <i class="fa-solid fa-cart-plus me-1"></i>
                {% trans "Add to Cart" %}
            </button>
        </form>
    </div>
</div>