{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_title %}- {{ product.name }}{% endblock %} {# Product name in title #}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                {% if "placeholder" in product.image.url %}
                    <img src="{% static 'images/default_product.webp' %}" class="img-fluid rounded" alt="{% trans 'Placeholder Image' %}">
                {% else %}
                    <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>
                <p class="lead">${{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p><strong>{% trans "SKU:" %}</strong> {{ product.sku }}</p>
                <p><strong>{% trans "Stock:" %}</strong> {{ product.stock_quantity }}</p>

                <form action="{% url 'add_to_cart' product_id=product.pk %}" method="post" class="flex-grow-1 mb-sm-0">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary w-100">
                        {% trans "Add to Cart" %}
                    </button>
                </form>
                <a href="#" class="btn btn-primary w-100 mt-2 bg-success">{% trans "Buy Now" %}</a>
            </div>
        </div>

        <hr class="my-4">

        <h2>{% trans "Specifications" %}</h2>
        <div class="table-responsive">
            <div class="me-auto" style="width: 100%; max-width: 800px;">
                <table class="table table-bordered">
                    <tbody>
                        {% for spec in product.specifications.all %}
                            <tr>
                                <th scope="row">{{ spec.spec_type.name }}</th>
                                <td>{{ spec.value }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">{% trans "No specifications available for this product." %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <hr class="my-4">

        <h2>{% trans "Related Products" %}</h2>
        <div class="overflow-x-auto pt-2 pb-4 px-2">
            <div class="featured-products-container">
                {% for product in related_products %}
                    {% include 'products/partials/product_card.html' %}
                {% empty %}
                    <div class="col">
                        <p>{% trans "No related products available." %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr class="my-4">
        <h2>{% trans "Reviews" %}</h2>

        <!-- TODO: include product review html here-->


    </div>
{% endblock %}