{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_title %}- {% trans "Shop" %}{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>{% trans "Products" %}</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100 elevate-on-hover">
                        <a href="#">
                            {% if "placeholder" in product.image.url %}
                                <img src="{% static 'images/default_product.webp' %}" class="card-img-top" alt="{% trans 'Placeholder Image' %}">
                            {% else %}
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">${{ product.price }}</p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a href="#" class="btn btn-primary">{% trans "Add to Cart" %}</a>
                                <a href="#" class="btn btn-secondary">{% trans "View Details" %}</a>
                            </small>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>{% trans "No products available." %}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}